*, *::before, *::after, a{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color:white;
    text-decoration: none;
}
.pokemon{
    background-image: url("images/pokemon_bg.jpeg");
    background-size: cover;
}

#new-game:hover{
    color:white;
    background-color: #200B3A;
}
.mode:hover{
    color:white;
    background-color: #200B3A;
}
body {
    height:100vh;
    background-color: #200B3A;
}
/* top section */
.title{
    text-align: center;
    font-size:10vmin;
    color:white;
    margin-bottom: 2%;
    font-weight: 700;
}
#topbar{
    display:flex;
    justify-content: center;
    width:60vmin;
    margin:0 auto;
    margin-bottom: 2vmin;
    font-size:3vmin;
}
/* new game button */
#new-game{
    background:white;
    border-radius: 5px;
    color:black;
    padding:2%;
    font-weight:500;
    margin:0;
    text-align: center;
    margin-right: 8%;
}

.pokemon #new-game:hover{
    color:white;
    background-color: rgb(68, 156, 207);
}
.mode{
    font-size:2.5vmin;
    font-weight: 500;
    background:#baa9ce;
    border-radius: 5px;
    color:black;
    text-align: center;
    justify-content: center;
    padding:0.5%;
    margin-left:39.25%;
}
.pokemon-btn{
    background-color: azure;
}
.pokemon-btn:hover{
    color:white;
    background-color: rgb(68, 156, 207);
}
.score{
    margin:0;
    text-align: center;
    margin-left:8%;
    font-size:2.5vmin;
}
.score p{
    padding:0;
    margin:0;
}

/* game section */
#main-content{
    /* height:90vh; */
    display:flex;
    justify-content: center;
    align-items: center;
}
/* game board & cells*/
#game-board{
    position:relative;
    padding:2vmin;
    border-radius: 5px;
    display:grid;
    gap: var(--cell-gap);
    background-color:#200B3A; 
    grid-template-columns: repeat(var(--grid-size),var(--cell-size));
    grid-template-rows:repeat(var(--grid-size),var(--cell-size));
}
.pokemon-board #game-board{
    background-color:azure; 
}

.cell{
    background-color: #4A395F;
    border-radius: 1vmin;
}
.pokemon-board .cell{
    background-color: rgb(150, 192, 192);
}   
/* tile */
.tile{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    position:absolute; 
    display:flex;
    justify-content: center;
    align-items: center;
    width:var(--cell-size);
    height:var(--cell-size);
    border-radius: 1vmin;    
    background-image: var(--bg-img);
    background-size:cover;
    background-repeat:no-repeat;
    background-color:var(--bg-color);
    color:var(--num-color);
    top: calc(var(--row) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--col) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    font-size: 4vmin;
    animation: show 200ms ease-in-out;
    transition: 150ms ease-in-out;
}

@keyframes show{
    0%{
        opacity: 0.5;
        transform:scale(0);
    }
}
.play-controllers{
    text-align: center;
    margin: auto;
    width:25vmin;
    display:flex;
    margin-top: 1.75%;
    justify-content: space-evenly;
}
.music-butn{
    cursor: pointer;
    font-size:4vmin;
}
.pokemon-play-controllers{
    margin-top: 1.5%;
    border-radius: 5px;
}
.pokemon-play-controllers ion-icon{
    color:black;
    background-color: azure;
    border-radius: 5px;
}
.pokemon #instructions{
    color:black;
}   
#instructions{
    float:right;
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 0.5em;
    font-size:2.5vmin;
    font-weight: 500;
    /* background:#baa9ce;; */
    border-radius: 5px;
    color:white;
    text-align: center;
    /* padding:0.5%; */
    /* margin-bottom:5%; */
    margin-right:39.25%;
}
#instructions:hover{
    text-decoration: none;
    font-style: normal;
}
.footer{
    border-top: 1px white solid;
    margin-top:2%;
    margin-bottom: 5%;
    text-align: center;
}
.pokemon-footer{
    border:none;
}
.footer p{
    margin-bottom:0.5%;
    font-size: 2vmin;
}

.footer a{
    text-decoration: underline;
}
.icons{
    margin-bottom: 5%;
}
.icons ion-icon{
    margin:0 0.5%;
    font-size:3vmin;
}

/* instructions page */
.intro{
    width:30%;
    margin: 0 auto;
}
.intro h3{
    font-weight: 500;
    margin-top:0;
}
.intro ion-icon{
    font-size:5vmin;
}
#start:hover{
    color:white;
    background-color: #200B3A;
}
#start{
    background:#baa9ce;
    border-radius: 5px;
    color:black;
    padding:2%;
    font-weight:500;
    margin:0;
    text-align: center;
}
