*, *::before, *::after, a{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color:white;
    text-decoration: none;
}
#new-game:hover{
    color:white;
    background-color: #200B3A;
}
#mode:hover{
    color:white;
    background-color: #200B3A;
}
body {
    height:100vh;
    background-color: #200B3A;
}
/* top section */
.title{
    text-align: center;
    font-size:10vmin;
    color:white;
    margin-bottom: 2%;
    font-weight: 700;
}
#topbar{
    display:flex;
    justify-content: center;
    width:60vmin;
    margin:0 auto;
    margin-bottom: 2vmin;
    font-size:3vmin;
}
/* new game button */
#new-game{
    font-weight: 500;
    background:white;
    border-radius: 5px;
    color:black;
    padding:2%;
    font-weight:700px;
    margin:0;
    text-align: center;
    margin-right: 8%;
}
#mode{
    font-size:2.5vmin;
    font-weight: 500;
    background:#baa9ce;;
    border-radius: 5px;
    color:black;
    text-align: center;
    padding:0.5%;
    margin-left:39.25%;
}
.score{
    margin:0;
    text-align: center;
    margin-left:8%;
    font-size:2.5vmin;
}
.score p{
    padding:0;
    margin:0;
}
/* game section */
#main-content{
    /* height:90vh; */
    display:flex;
    justify-content: center;
    align-items: center;
}
/* game board & cells*/
#game-board{
    position:relative;
    padding:2vmin;
    border-radius: 5px;
    display:grid;
    gap: var(--cell-gap);
    background-color:#200B3A; 
    grid-template-columns: repeat(var(--grid-size),var(--cell-size));
    grid-template-rows:repeat(var(--grid-size),var(--cell-size));
}

.cell{
    background-color: #4A395F;
    border-radius: 1vmin;
}

/* tile */
.tile{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    position:absolute; 
    display:flex;
    justify-content: center;
    align-items: center;
    width:var(--cell-size);
    height:var(--cell-size);
    border-radius: 1vmin;    
    background-image: var(--bg-img);
    background-size:cover;
    background-repeat:no-repeat;
    background-color:var(--bg-color);
    color:var(--num-color);
    top: calc(var(--row) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--col) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    font-size: 4vmin;
    animation: show 200ms ease-in-out;
    transition: 150ms ease-in-out;
}

@keyframes show{
    0%{
        opacity: 0.5;
        transform:scale(0);
    }
}
.play-controllers{
    margin: auto;
    display:flex;
}
.music-butn{
    cursor: pointer;
    margin:0.5%;
    font-size:4vmin;
}